PORT=3000
NODE_ENV="development"
MONGO_URI="your-mongodb-uri"
EXCHANGE_RATE_API_KEY="your-api-key"
BETTER_AUTH_SECRET="random-secret-string"
CLIENT_URL="http://localhost:3000"
BETTER_AUTH_URL="http://localhost:3000"